<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="../public/images/small-leaf.svg">
      <p> MY PLANTS </p>
      <img id='right-leaf' src="../public/images/small-leaf.svg">
    </div>
    </div>
    
    <div class="back-button">
      <a id='back-button' href='filtered.html'>
      <img src='../public/images/back-button.svg'>
    </a>
    </div>

      <div class="ok-button">
      <a id='ok-button' href='add-page.html'>
      <img src='../public/images/back-button.svg'>
    </a>
    </div>


    
      
  <div class='journal'>
    
    <div class="top">
    <img id='journalPhoto' src="../public/images/stripes.svg">
      <h2>Phalenopsis Orchid</h2>
      <p id='top'>  
      </p></div>
    
     <div class="bottom">
      <p id='info-title'>Nickname:</p>
      <img id= "comments-rectangle" src="../public/images/comments-rectangle.svg">
      
      <form action="/action_page.php">
        <input type="text" id="fname" name="fname" >
      </form>
      <p id='info-text'>

      <p id="date" >Start Date:</p>
      <img id= "comments-rectangle" src="../public/images/comments-rectangle.svg">
      
      <form action="/action_page.php">
        <input type="text" id="fname" name="fname" >
      </form>

      <a id='seed-box' href="#">
        <img src="../public/images/herbs-button.svg">
      </a>
      <p id='seed'>Seed</p>

      <a id='transplant-box' href="#">
        <img src="../public/images/shrubs-button.svg">
      </a>
      <p id='transplant'>Transplant</p>
      
      




  

  </div>


<div class='navigation'>

  <img id='bottom-rectangle' src="../public/images/bottom-rectangle.svg">

  <a id='home-button' href="../views/index.html">
      <img src="../public/images/home-button.svg">
  </a>

  <a href="../views/calendar.html">
    <img id='calendar-button' src="../public/images/calendar-button.svg">
  </a>

</div>


  </div>



<script type="app.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>